<div class="login-box">
  <h2>Login</h2>
  <form #LoginForm="ngForm" (submit)="loginUser(LoginForm)">

      <div class="user-box">

          <input type="text" name="email" required ngModel name="email" id="exampleInputEmail1">
          <label>Email</label>

          <span class="text-danger" *ngIf=" 
          LoginForm.controls['email']?.invalid && 
          LoginForm.controls['email']?.dirty ">
            Email is required
          </span>

      </div>

      <div class="user-box">

          <input type="password" name="password" required ngModel name="password" #passwordVar="ngModel" id="exampleInputPassword1">
          <label>Password</label>

          <span class="text-danger" *ngIf="
          LoginForm.controls['password']?.invalid && 
          LoginForm.controls['password']?.dirty
          ">
          required
        </span>

      </div>

      <div class="button-form">
          <button type="submit" id="submit">login</button>
          <div id="register">

              Don't have an account ?
              <a href="#">Register</a>

          </div>

      </div>
      
      <app-login-dialog *ngIf="loginFailed"></app-login-dialog>
    

  </form>
</div>