.container {
    margin-top: 50px;
  }
  .card {
    width: 600px;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  }
  .card-body {
    padding: 40px;
  }
  .card-title {
    font-weight: bold;
    color: #3f3d56;
    margin-bottom: 20px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  label {
    font-weight: bold;
    margin-right: 10px;
  }
  .text-secondary {
    color: #6c757d;
  }