<div class="container">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <img [src]="userDetails.data.avatar" class="img-fluid rounded-circle mb-3" alt="User Avatar">
          </div>
          <div class="col-md-8">
            <h5 class="card-title">User Details</h5>
            <hr>
            <div class="form-group">
              <label class="font-weight-bold text-secondary">ID:</label>
              <span class="text-muted">{{ userDetails.data.id }}</span>
            </div>
            <div class="form-group">
              <label class="font-weight-bold text-secondary">Name:</label>
              <span class="text-muted">{{ userDetails.data.first_name }} {{ userDetails.data.last_name }}</span>
            </div>
            <div class="form-group">
              <label class="font-weight-bold text-secondary">Email:</label>
              <span class="text-muted"> {{ userDetails.data.email }}</span>
            </div>
          </div>
        </div>
        <button class="btn btn-secondary mt-4" routerLink="/users" >Back</button> <!--(click)="onBack()"-->
      </div>
    </div>
  </div>
